<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Free CSS template by ChocoTemplates.com</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="shell">
			<!-- Logo -->
			<h1 id="logo" class="notext"><a href="index.html">LIGA URJC</a></h1>
			<!-- End Logo -->
		</div>
	</div>
	<!-- End Header -->
	
	<!-- Navigation -->
	<div id="navigation">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<ul>
			    <li><a href="ligas.html">ligas</a></li>
			    <li><a href="clubs.html">clubs</a></li>
			    <li><a href="jugadores.html">jugadores</a></li>
			    <li><a href="noticias.html">noticias</a></li>
			    <li><a href="contacto.html">contacto</a></li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Navigation -->
	
	
	
	<!-- Main -->
	<div id="main">
		<div class="shell">		
			<div class="cl">&nbsp;</div>	
			<div id="content">
				
				<div class="cl">&nbsp;</div>
				<div class="video-box">
				<form action="url_accionar_creacion_partido">
      	<p>Resultado</p>
      	<input type='text' name='resultado'></input> <p>  </p>
      	<p>Id equipo 1</p>
      	<input type='text' name='equipo1'></input> <p>  </p>
      	<p>Id equipo 2</p>
      	<input type='text' name='equipo2'></input> <p>  </p>
      	<p>Fecha</p>
      	<input type='text' name='fecha'></input> <p>  </p>
      	<input type='submit' value='Enviar'></input></br> 
      	<input type="hidden" name="_csrf" value="{{token}}"/>
      </form></br>
      
					
					<div class="cl">&nbsp;</div>
				</div>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Main -->
	
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<a href="#" class="left">TERMS OF USE</a>
			<a href="#" class="left">PRIVACY POLICY</a>
			<p class="right">&copy; Sitename.com. Design by <a href="http://chocotemplates.com">ChocoTemplates.com</a></p>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>