<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Free CSS template by ChocoTemplates.com</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="shell">
			<!-- Logo -->
			<h1 id="logo" class="notext"><a href="index.html">LIGA URJC</a></h1>
			<!-- End Logo -->
		</div>
	</div>
	<!-- End Header -->
	
	<!-- Navigation -->
	<div id="navigation">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<ul>
			    <li><a href="ligas.html">ligas</a></li>
			    <li><a href="clubs.html">clubs</a></li>
			    <li><a href="jugadores.html">jugadores</a></li>
			    <li><a href="noticias.html">noticias</a></li>
			    <li><a href="contacto.html">contacto</a></li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Navigation -->
	
	<!-- Heading -->
	<div id="heading">
		<div class="shell">
			<div id="heading-cnt">
				
				<!-- Sub nav -->
				<div id="side-nav">
					<ul>
					    <li class="active"><div class="link"><a href="index.html">inicio</a></div></li>
					    <li><div class="link"><a href="login.html">Iniciar sesión</a></div></li>
					    <li><div class="link"><a href="edicion_clubs.html">Consultar clubs</a></div></li>
					    <li><div class="link"><a href="edicion_ligas.html">Consultar ligas</a></div></li>
					</ul>
				</div>
				<!-- End Sub nav -->
				
				<!-- Widget -->
				<div id="heading-box">
					<div id="heading-box-cnt">
						<div class="cl">&nbsp;</div>
						
						<!-- Main Slide Item -->
						<div class="featured-main">
							<a href="{{#noticiaUna}}{{url}}{{/noticiaUna}}"><img src="{{#noticiaUna}}{{urlToImage}}{{/noticiaUna}}" alt=""  width="440px" height="257px" /></a>
							<div class="featured-main-details">
								<div class="featured-main-details-cnt">									
									<h4><a href="{{#noticiaUna}}{{url}}{{/noticiaUna}}">{{#noticiaUna}}{{title}}{{/noticiaUna}}</a></h4>
									<p>{{#noticiaUna}}{{description}}{{/noticiaUna}}</p>
								</div>
							</div>
						</div>
						<!-- End Main Slide Item -->
						
						<div class="featured-side">
							
							<!-- Slide Item 1 -->
							<div class="featured-side-item">
								<div class="cl">&nbsp;</div>
								<a href="{{#noticia2}}{{url}}{{/noticia2}}" class="left"><img src="{{#noticia2}}{{urlToImage}}{{/noticia2}}" alt="" width="60px" height="60px" /></a>
								<h4><a href="{{#noticia2}}{{url}}{{/noticia2}}">{{#noticia2}}{{title}}{{/noticia2}}</a></h4>
								<div class="cl">&nbsp;</div>
							</div>
							<!-- End Slide Item 1 -->
							
							<!-- Slide Item 2 -->
							<div class="featured-side-item">
								<div class="cl">&nbsp;</div>
								<a href="{{#noticia3}}{{url}}{{/noticia3}}" class="left"><img src="{{#noticia3}}{{urlToImage}}{{/noticia3}}" alt="" width="60px" height="60px" /></a>
								<h4><a href="{{#noticia3}}{{url}}{{/noticia3}}">{{#noticia3}}{{title}}{{/noticia3}}</a></h4>
								<div class="cl">&nbsp;</div>
							</div>
							<!-- End Slide Item 2 -->
							
							<!-- Slide Item 3 -->
							<div class="featured-side-item">
								<div class="cl">&nbsp;</div>
								<a href="{{#noticia4}}{{url}}{{/noticia4}}" class="left"><img src="{{#noticia4}}{{urlToImage}}{{/noticia4}}" alt="" width="60px" height="60px" /></a>
								<h4><a href="{{#noticia4}}{{url}}{{/noticia4}}">{{#noticia4}}{{title}}{{/noticia4}}</a></h4>
								<div class="cl">&nbsp;</div>
							</div>
							<!-- End Slide Item 3 -->
							
							<!-- Slide Item 4 -->
							<div class="featured-side-item">
								<div class="cl">&nbsp;</div>
								<a href="{{#noticia5}}{{url}}{{/noticia5}}" class="left"><img src="{{#noticia5}}{{urlToImage}}{{/noticia5}}" alt="" width="60px" height="60px" /></a>
								<h4><a href="{{#noticia5}}{{url}}{{/noticia5}}">{{#noticia5}}{{title}}{{/noticia5}}</a></h4>
								<div class="cl">&nbsp;</div>
							</div>
							<!-- End Slide Item 4 -->
						</div>
						<div class="cl">&nbsp;</div>						
					</div>
				</div>
				<!-- End Widget -->
				
			</div>			
		</div>
	</div>
	<!-- End Heading -->
	
	<!-- Main -->
	<div id="main">
		<div class="shell">		
			<div class="cl">&nbsp;</div>	
			<div id="sidebar">
				<h2>ULTIMOS PARTIDOS</h2>
				<ul>
				    {{#partidos}}
				    <li><h3><a href="partido_especifico?id={{id}}">{{equipo_escrito}}  {{resultado}}</a></h3></br>
				    </li>
				    {{/partidos}}
				</ul>
				<a href="#" class="archives">News Archives</a>
			</div>
			<div id="content">
				<div class="cl">&nbsp;</div>
				
				<div class="cl">&nbsp;</div>
				<div class="video-box">
					<div class="cl">&nbsp;</div>
					<h2 class="left">Agregar elementos a nuestra plataforma</h2>
					<div class="cl">&nbsp;</div>
					<div class="video-item-box">
						<a href="edicion_clubs.html" class="left"><img src="css/images/video-1.jpg" alt="" /></a>
						<p>Agrega un club a nuestra BBDD para tener disponible su información</p>
						<a href="edicion_clubs.html" class="watch-now">Prueba ahora</a>
					</div>
					<div class="video-item-box second">
						<a href="edicion_ligas.html" class="left"><img src="css/images/video-2.jpg" alt="" /></a>
						<p>Crea una liga o torneo y lleva el control de los clubs que participan y cuando lo harán</p>
						<a href="edicion_ligas.html" class="watch-now">Prueba ahora</a>
					</div>
					<div class="video-item-box">
						<a href="edicion_partidos.html" class="left"><img src="css/images/video-3.jpg" alt="" /></a>
						<p>Crea un partido y registra resultados, sanciones y otros detalles</p>
						<a href="edicion_partidos.html" class="watch-now">Prueba ahora</a>
					</div>
					<div class="video-item-box second">
						<a href="edicion_jugador.html" class="left"><img src="css/images/video-4.jpg" alt="" /></a>
						<p>Ingresa a un jugador y lleva el control del club en el que se encuentra</p>
						<a href="edicion_jugador.html" class="watch-now">Prueba ahora</a>
					</div>
					<div class="cl">&nbsp;</div>
				</div>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Main -->
	
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<a href="#" class="left">TERMS OF USE</a>
			<a href="#" class="left">PRIVACY POLICY</a>
			<p class="right">&copy; Sitename.com. Design by <a href="http://chocotemplates.com">ChocoTemplates.com</a></p>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>